$marker-font-size: 14px;
$tt-first-neue-font: 'TTFirsNeue', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$orange-color: #FF6E30;
$brown-1-color: #BC572B;
$brown-2-color: #CE4307;
$white-color: #FFF;
$gray-1-color: #E9E9E9;
$gray-2-color: #CACACA;
$gray-3-color: #999;
$gray-4-color: #202020;
$gray-5-color: #4A4A4A;
